* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    place-items: unset;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root {
    --corPrincipal: #111;
    --corSecundaria: #ddd
}


.input {
    text-align: center;
}

.input input {
    padding: 8px;
    margin: 12px 0;
    background-color: var(--corPrincipal);
    color: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}